<!DOCTYPE html>
<html>
<head>
  <title>Invitation App Server</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="background-color:#0575AF;padding: 25px 40px;">
  <div class="row wrapper">
    <div class="col-sm-4" style="font-size: 26px;color: #ffffff">Invitation App</div>
    <div class="col-sm-8 text-right"><a href='/users' class="home_main_icons_style">Users</a>
      <a href='/events' class="home_main_icons_style">Events</a>
      <a href='/groups' class="home_main_icons_style">Groups</a>
    </div>
  </div>

</div>
<div style="margin-top: 30px" class="wrapper">
  <%= yield %>
</div>
<script>
    $('.datepicker').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true
    });

</script>
</body>
</html>



